body {
    font-family: sans-serif;
    background-color: #444;
}
.content {
    display: flex;
    justify-content: center;
    height: 120%;   
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.container {
    width: 100%;
    margin: 10px;
    padding: 0;
    background-color: #fff;
    opacity: 0.7;
}
.navbar {
    background: #FAE4E0;
    /* border-bottom: 4px solid green; */
}
img {
    margin-left: 50px;
    border-radius: 5px;
}
span {
    font-style: italic;
    font-size: 15px;
    color: #444;
}
.t {
    color: #000;;
    padding: 0;
    border: none;
    border-top: 5px solid;
}
.side {
    width: 210px;
    
    border-right: 3px solid gray;
    margin-left: 30px;
    
}
.side h6 {
    color: #fff;
    background: #000;
    text-align: center;
    padding: 4px;
    margin: 0 50px 0 0;
    
}
.detailProfile h5 {
    font-weight: bold;
    color: #000;
}
.detailProfile span {
    font-size: 13px;
    font-style: italic;
    color: grey;
}
.detailProfile i {
    color: #333;
    margin-right: 10px;
}
.detailProfile .left {
    margin-left: 28px;
}
.detailProfile p {
    font-weight: bold;
}
.m-0 {
    font-size: 15px;
    color: gray;
}
.exp span{
    font-size: 28px;
}
.exp h6 {
    color: #fff;
    background: #000;
    padding: 4px;
    margin-left: 20px;
}
.date span {
    font-size: 13px;
    color: #444;
    font-style: italic;
}
.work {
    font-weight: bold;
    color: black;
}
.trait {
    color: red;
    margin: auto;
}

li {
    font-weight: bold;color: #000;
    font-size: 12px;
}
i {
    font-size: 12px;
}
.desc {
    font-size: 14px;
}